<h1>New Todo</h1>

<form action="/todos" method="get">
  <input type="text" name="name" placeholder="Name">
  <input type="text" name="description" placeholder="Description">
  <input type="text" name="due date" placeholder="Due Date">
  <button>Submit</button>
</form>